html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #2c2141;
  min-height: 100vh;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
    width: 624px;
    height: 320px;
    border-radius: 16px;
    background: #f8f8f8;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.article__header {
    margin-bottom: 24px;
}

.article__header--name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
}

.article__header--job {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
}

.article__picture {
    margin-right: 32px;
}

.article__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 22px;
}

.article__social {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.strong {
    font-weight: normal;
    color: #ED6D05;
}

.link {
    text-decoration: none;
    color: #E20613;
}